@import url(https://fonts.googleapis.com/css?family=Lato:900);
*,
*:before,
*:after {
  box-sizing: border-box;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* [ wrapper ]
===================================================================== */
.l-wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  /* [ header ]
===================================================================== */

  .g-header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    // padding-left: 270px;
    // height: 80px;
    // padding-left: 270px;
    // background: #f0f0f0;
    backdrop-filter: blur(7px);
    background-color: rgba($color: #f9f9f9, $alpha: 0.6);
    // transition: height 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
    //   opacity 0.8s ease 0s;
    // transition: transform 0.4s ease 0s,
    //   height 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.8s ease 0s;
    // overflow: hidden;
    z-index: 20;
    text-align: right;
    font-size: 13px;
    font-size: 1.3em;
    border-bottom: 1px solid #d7d7d6;
    @include overTab {
      // height: 120px;
      // padding-left: 0;
      // transform: translateY(-60px);
      // opacity: 0;
    }
  }
  .header-content {
    // position: relative;
    display: block;
    box-sizing: border-box;
    font-family: 'Nunito', 'Lato', 'YuGothic', 'Yu Gothic', 'Meiryo',
      Hiragino Sans, Hiragino Kaku Gothic ProN, sans-serif;
    text-transform: capitalize;
    color: cl(grey);
    width: 100%;
    height: 80px;
    text-align: center;
    // display: flex;
    .g-mb-logo {
      transition: all ease 0.5s;
      padding-top: 22px;
      margin-left: 20px;
      text-align: center;
      font-size: 13px;
      font-size: 1.3em;
      // text-shadow: 1px 1px #aaa, 2px 2px #999, 3px 3px #888, 4px 4px #777,
      // 5px 5px #666, 6px 6px #555, 7px 7px 4px #000;
      // text-shadow: 0 1px #bbb, 0 2px #aaa, 0 3px #999, 0 4px #888, 0 5px #777,
      //   0 6px #666, 0 7px #555, 0 8px #444, 0 9px #333, 0 10px 8px #000;
      @include overTab {
        padding-top: 18px;
        font-weight: bold;
        text-align: left;
        padding-left: 270px;
        font-size: 16px;
        font-size: 1.6em;
      }
      @include spTab {
        padding-top: 24px;
        margin-left: 35px;
        font-size: 10px;
        font-size: 1em;
      }
      &:hover {
        text-shadow: 6px 6px 5px #c0c0c0;
      }
      a {
        // color: #fff;
        // display: block;
        // width: 100%;
        // height: 14px;
        // background: url('') 50% 50% / cover no-repeat;
        // text-indent: -999em;
      }
    }
  }

  /* [ navigation ]
===================================================================== */
  .nav-btn {
    position: fixed;
    width: 30px;
    height: 25px;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    left: 20px;
    top: 28px;
    z-index: 40;
    // display: block;
    cursor: pointer;
    @include overTab {
      display: none; //解除する
    }
    &:hover span {
      transition: all 0.5s ease;
      background-color: grey;
      text-shadow: 2px 2px 1px cl(grey);
    }
    &.-active {
      span {
        top: 0;
        bottom: 0;
        margin: auto;
        transition: transform 0.3s ease;
        &:first-child {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
    span {
      width: 100%;
      height: 3px;
      background-color: #c0c0c0;
      display: block;
      position: absolute;
      transition: transform 0.3s ease;
      left: 0;
      &:first-child {
        top: 0;
      }
      &:nth-child(2) {
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &:last-child {
        bottom: 0;
      }
    }
  }
  .g-nav {
    width: 100%;
    // height: 0;
    // min-height: 0;
    // background: cl(white);
    line-height: 1.1;
    letter-spacing: 0.04em;
    // transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s,
    // height 0s ease 0.8s;
    // display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    @include overTab {
      // background-color: l(white);
      border-right: 1px solid #d7d7d6;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 230px;
      height: 100%;
      min-height: 720px;
      opacity: 1;
      visibility: visible;
      z-index: 30;
    }
    &.-active {
      opacity: 1;
      visibility: visible;
      // background-color: transparent;
      transition: opacity 0.3s ease;
    }
    a {
      position: relative;
      text-decoration: none;
      @include overTab {
        width: 100%;
        // height: 0;
        // min-height: 0;
        // background-color: cl(white);
        opacity: 0.8;
        overflow: hidden;
        pointer-events: auto;
        // transition: opacity 0.5s cubic-bezier(0.6, 0, 0.2, 1) 0.2s,
        // height 0s ease 0s;
      }
    }
  }

  .g-nav_body {
    position: fixed;
    width: 100vw;
    top: 80px;
    left: 50%;
    text-align: center;
    border-right: 1px solid #d7d7d6;
    transform: translate(-50%, -50%);
    // background-color: #fff;
    opacity: 1;
    z-index: 50;
    @include overTab {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      margin-top: 171px;
      top: 180px;
      left: 50%;
      // padding: 0 5%;
      // transform: translate(-50%, -50%);
    }
  }
  .g-nav_options {
    position: absolute;
    // top: 50px;
    // left: 0;
    width: 100%;
    transition: all 0.3s ease;
    background-color: rgba($color: #f0f0f0, $alpha: 0.9);
    font-family: 'Lato', 'YuGothic', 'Yu Gothic', 'Meiryo', Hiragino Sans,
      Hiragino Kaku Gothic ProN, sans-serif;
    // font-weight: 400;
    @include overTab {
      background-color: rgba($color: #f0f0f0, $alpha: 0);
      position: relative;
      // top: 0;
      // padding-top: 34px;
    }
  }
  .g-nav_item {
    display: block;
    position: relative;
    // margin-top: -1px;
    text-transform: uppercase;
    font-size: 10px;
    font-size: 1em;
    letter-spacing: 0.06em;
    border-bottom: 1px solid #d7d7d6;
    // transition: opacity 0.3s ease 0s;
    @include overTab {
      font-size: 12px;
      font-size: 1.2em;
      opacity: 0.8;
      border-bottom: 0;
      // transform: translateY(10px);
      // transition: opacity 0.5s ease 0s,
      //   -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      // transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
      //   opacity 0.5s ease 0s;
      // transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
      //   opacity 0.5s ease 0s,
      //   -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 50%;
    //   width: 170px;
    //   height: 1px;
    //   background-color: cl(white);
    //   transform: translateX(-50%);
    //   z-index: -1;
    //   @include overTab {
    //     left: 0;
    //     width: 100%;
    //     height: 1px;
    //     background-color: cl(white);
    //     z-index: 1;
    //   }
    // }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   right: -1px;
    //   width: 2px;
    //   height: 100%;
    //   background-color: cl(white);
    //   opacity: 0;
    //   transition: opacity 0.4s ease 0s;
    // }
    &:hover {
      z-index: 10;
    }
    &:last-child:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 170px;
      height: 1px;
      background-color: cl(white);
      transform: translateX(-50%);
      z-index: -1;
      @include overTab {
        left: 0;
        width: 100px;
        height: 1px;
        background-color: cl(white);
        z-index: 1;
      }
    }
  }

  .g-nav_link {
    position: relative;
    display: block;
    width: 100%;
    padding: 14px 0;
    text-indent: 1.5em;
    // transition: background-color 0.3s ease;
    transition: all 0.7s;
    line-height: 1.2;
    @include overTab {
      margin-bottom: 35px;
    }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 50%;
    //   right: 16px;
    //   width: 9px;
    //   height: 13px;
    //   transform: translateY(-50%);
    //   background: url('') 50% 50% / cover no-repeat;
    //   opacity: 0;
    //   transition: opacity 0.4s ease 0s;
    // }
    &:hover {
      background-color: #dddddd;
      text-shadow: 4px 4px 2px rgb(177, 177, 177);
      font-weight: bold;
      @include overTab {
        background-color: #ebebeb;
        text-shadow: 4px 4px 2px rgb(151, 151, 151);
        opacity: 0.8;
      }
      &::after {
        opacity: 1;
        @include overTab {
          opacity: 0;
        }
      }
    }
    span.item_sub {
      font-size: 0.9em;
      margin-left: 25px;
      @include overTab {
        margin-left: 28px;
        color: cl(grey);
        font-size: 0.8em;
      }
    }
  }

  // .g-nav-toggle {
  //   position: fixed;
  //   top: 15px;
  //   right: 15px;
  //   width: 26px;
  //   height: 26px;
  //   cursor: pointer;
  //   transition: width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s ease 0s;
  //   transition: transform 0.4s ease 0s, width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  //   transition: transform 0.4s ease 0s, width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s ease 0s;
  //   opacity: 0;
  //   z-index: -10;
  // }
}

/* [ footer ]
===================================================================== */
.g-footer {
  width: 100%;
  height: auto;
  // margin: -110px auto 0;
  // margin-left: 230px;
  // padding-left: 40px;
  background-color: rgba($color: #f0f0f0, $alpha: 0.6);
  padding-bottom: 20px;
  @include overTab {
    // height: 180px;
    // margin-top: -180px;
  }
  .footer-content {
    position: relative;
    box-sizing: border-box;
    // font-family: 'Lato', 'YuGothic', 'Yu Gothic', 'Meiryo', Hiragino Sans,
    //   Hiragino Kaku Gothic ProN, sans-serif;
    // width: 100%;
    // height: 80px;
    // display: flex;
    padding-left: 30px;
    @include overTab {
      padding-left: 270px;
    }
    @include spTab {
      padding-left: 0;
      text-align: center;
    }
    a {
      color: cl(black);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .g-goto-top {
      box-sizing: border-box;
      position: absolute;
      top: -30px;
      // left: 0;
      // width: calc(100% - 270px);
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      // transition: all ease-in 1s;
      @include overTab {
        // padding-right: 40px;
        margin-left: -35px;
        position: relative;
      }
      a {
        display: inline-block;
        width: 68px;
        height: 68px;
        @include overTab {
          width: 54px;
          height: 54px;
        }
      }
      svg {
        max-width: 100%;
        height: auto;
      }
      .cls-circle:hover {
        fill: rgba(211, 211, 211, 0.8);
      }
      // .cls-text:hover {
      //   fill: cl(white);
      // }
      // .cls-ico:hover {
      //   fill: cl(white);
      //   color: white;
      // }
    }
    .g-goto-top a.tch-active .cls-circle,
    .ua-desktop .g-goto-top a:hover .cls-circle {
      fill: #eaeaea;
    }
    .g-goto-top .cls-circle,
    .g-goto-top .cls-text,
    .g-goto-top .cls-ico {
      transition: fill 0.5s ease-in-out 0s;
    }
    .g-goto-top .cls-circle {
      fill: #fff;
    }
    .g-goto-top .cls-text {
      fill: #273200;
    }
    .g-goto-top .cls-text,
    .g-goto-top .cls-ico {
      fill-rule: evenodd;
    }
    .g-goto-top .cls-ico {
      fill: #393939;
    }

    .g-footer_body {
      display: flex;
      padding: 45px 0;
      flex-flow: row;
      @include overTab {
        padding: 25px 0;
        padding-top: 0px;
        margin-top: -20px;
      }
      @include spTab {
        padding: 55px 0 20px;
        flex-flow: column;
      }
    }
    .g-footer_information {
      @include overTab {
        // text-align: center;
        // br {
        //   display: none;
        // }
      }
    }
    .g-footer-information_title {
      color: cl(grey);
      line-height: 1.2;
      @include overTab {
        font-size: 12px;
        font-size: 1.2em;
      }
    }
    // .g-footer-information_address {
    //   margin-top: 10px;
    //   line-height: 1.6;
    //   font-display: 13px;
    //   font-size: 1.3em;
    //   font-weight: 500;
    //   @include overTab {
    //     font-size: 11px;
    //     font-size: 1.1em;
    //   }
    // }
    .g-footer-information_contact {
      margin-top: 5px;
      font-family: 'Latio', 'YuGothic', serif;
      line-height: 1.5;
      font-size: 11px;
      font-size: 1.1em;
      font-weight: 500;
      @include overTab {
        font-size: 10px;
        font-size: 1em;
      }
      li {
        color: cl(grey);
        display: inline-block;
        text-transform: capitalize;
        position: relative;
        &:first-child::after {
          content: '|';
          padding: 0.5rem;
        }
        @include overTab {
          // display: block;
        }
        a {
          position: relative;
          color: cl(grey);
          text-transform: none;
          margin-left: -7px;
          display: inline-block;
          transition: all 1s ease;
          &:hover .contact-after {
            animation: show 0.3s ease-in;
            display: inline-block;
          }
          .contact-after {
            display: none;
            text-decoration: underline;
          }
        }
      }
    }
    /*============================
    .g-footer-nav
    ============================*/
    .g-footer-nav {
      display: block;
      margin-left: auto;
      @include spTab {
        margin-left: auto;
        margin-right: auto;
      }
      // position: absolute;
      // bottom: 25px;
      // right: 30px;
      // width: 315px;
      // text-align: right;
      // line-height: 1.1;
      // @include overTab {
      //   position: relative;
      //   bottom: auto;
      //   right: auto;
      //   width: 100%;
      //   margin-top: 12px;
      //   text-align: center;
      // }
    }

    //不要
    // .g-footer-nav_item {
    //   position: relative;
    //   display: inline-block;
    //   font-weight: 500;
    //   font-size: 13px;
    //   font-size: 1.3em;
    //   &:first-child {
    //     margin-right: 0.6em;
    //     padding-right: 0.8em;
    //     &::after {
    //       position: absolute;
    //       top: 50%;
    //       right: 0;
    //       display: inline-block;
    //       content: '';
    //       width: 1px;
    //       height: 12px;
    //       background-color: cl(black);
    //       transform: translateY(-50%);
    //     }
    //   }
    //   @include overTab {
    //     font-size: 11px;
    //     font-size: 1.1em;
    //   }
    // }

    /* Buttons */
    .social-btns {
      // display: block;
      margin-right: 40px;
      @include spTab {
        display: block;
        margin-top: 20px;
        margin-right: auto;
      }
    }

    .social-btns li {
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
    }

    @media (min-width: 768px) {
      .social-btns li {
        margin-left: 10px;
      }
    }
    /* Heart Beat Button */
    .social-btn-heart:hover .social-btn-heart-bg {
      -webkit-animation: beat 2s infinite;
      animation: beat 2s infinite;
    }

    .social-btn-heart-icon {
      font-size: 16px;
      color: #fff;
    }

    .social-btn-heart:hover .social-btn-heart-icon {
      color: #fff;
    }

    @-webkit-keyframes beat {
      0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      20% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
      40% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      60% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    @keyframes beat {
      0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      20% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
      40% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      60% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }

    .social-btn-heart-bg.facebook {
      color: #385898;
    }

    .social-btn-heart-bg.instagram {
      color: #f7477d;
    }

    .social-btn-heart-bg.twitter {
      color: #1da1f2;
    }

    .social-btn-heart-bg.youtube {
      color: #ff0000;
    }

    .g-sns {
      display: none;
      margin: 0 0 14px auto;
      line-height: 1;
      @include overTab {
        margin: 0 auto 10px;
      }
    }
    .g-sns_item {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 20px;
      }
      a {
        display: block;
        height: 20px;
        text-indent: -900em;
        text-align: left;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  .copyright {
    display: block;
    margin-bottom: 20px;
    .g-mb-copyright {
      display: inline-block;
      position: relative;
      // margin-top: 20px;
      width: calc(100% - 40px);
      color: cl(grey);
      font-family: 'PT Sans', sans-serif;
      // text-align: center;
      font-weight: 400;
      font-size: 9px;
      font-size: 0.9rem;
      @include overTab {
        // display: block;
      }
    }
  }
}
